p{
    background-color: aqua;
}
h1{
    text-align: center;
    color: goldenrod;

}
.fayala{
    border: 20px solid maroon;
    background-color: olive;
    margin-bottom: 15px;
}
#fayalaa{
    background-color: blueviolet;
}
*{
    padding: 0%;
    margin: 0%;
}